body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    flex-direction: column;
    -webkit-app-region: drag;
}

#drag {
    width: 100%;
    height: 25px;
    cursor: grab;
    background-color: gainsboro;
    display: flex;
    flex-direction: row-reverse;
}

#closeBtn {
    padding-right: 5px;
    justify-content: center;
    align-content: center;
    font-size: 15px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

#message {
    flex: 1;
    border: none;
    outline: none;
    resize: none;
    background: #F6F6F6;
    -webkit-app-region: no-drag;
}

#reddit {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    resize: none;
    background: #F6F6F6;
    -webkit-app-region: no-drag;
}

